body {
  font-family: system-ui, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  font-size: 24px;
  width: 100vw;
  overflow-x: hidden;
}

header {
  position: relative;
  overflow: hidden;
  width: 100%;
}

h1 {
  position: relative;
  z-index:0;
  text-align: left;
  font-size: 8rem;
  margin: 0;
  line-height: 0.9em;
  top: -0.12em;
  left: -0.1em;
}

h1.right {
  position: absolute;
  text-align: right;
  left: 0;
  right: -0.1em;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 20vw;
  }
  h1.right {
    display: none;
  }
}

h2, h3, h4, h5, h6 {
  white-space: pre-wrap;
}

a {
  color: inherit;
  text-decoration: none;
}

span.space {
  margin: 0 .5em;
}

.countdown {
  font-variant-numeric: tabular-nums;
  text-transform: none;
  line-height: .9em;
}

.scroller {
  width: 80%;
  margin: 10px;
  overflow: visible;
  position: relative;
  margin: 100px auto;
}

.scroller svg {
  overflow: visible;
}

.scroller #door {
  pointer-events: none; /* don't block link */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.hoverchange:hover {
  position: relative;
  visibility: hidden;
}

.hoverchange:hover::before,
.hoverchange:hover::after {
  visibility: visible;
  white-space: nowrap;
  overflow-x: visible;
  position: absolute;
}

#live-scored:hover::before {
  right: 0;
  content: "CLOSING SET BY";
}

#dj-nalroc:hover::after {
  left: 0;
  content: "Cortland Mahoney"
}
